# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Models
*.pkl

# Dataset
dataset/
dataset.zip
*.zip
*.pkl

# VS Code
.vscode/

# Logs
*.log