# Python
__pycache__/

# Virtual environments
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Dataset
dataset/mawsa26-pan-zenodo-DATA

# Ignoring all the chaches
dataset/outputs/cache

!dataset/outputs/models/

# Ignoring the feature pipeline model
dataset/outputs/models/feature_pipeline.pkl
dataset/outputs/models
*.pkl

*.zip

# VS Code
.vscode/

# Logs
*.logauthor-switch-detector.tar.gz
author-switch-detector.tar.gz


