# Python
__pycache__/

# Virtual environments
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Dataset
dataset/mawsa26-pan-zenodo-DATA
!dataset/outputs/
!dataset/outputs/models/
!dataset/outputs/models/best_model.pkl
!dataset/outputs/models/feature_pipeline.pkl
*.zip

# VS Code
.vscode/

# Logs
*.logauthor-switch-detector.tar.gz
author-switch-detector.tar.gz
